<div id="frontpage">
</div>


  <div id= "container">
    <div class="row icon_row">
<h2> Stretch is a application that allows user to receieve a reminder to stretch every day.</h2>
</div>
</div>
<div id="container2">
  <div class="clock">
        <p><i class="fa fa-clock-o fa-5x"></i> 

</p>
<h4>
  The time is in your hands! Set the time to be reminded certain days at certain hours or everyday whenever. 
</h4></div>
 
 <div class= "comments">
  <p> <i class="fa fa-comments-o fa-5x"></i></p>
 
   <h4>
    Recieve a message on any device! "Don't forget to stretch today!"
    You can also sign up to get a photo of stretches. 
</h4>
</div>
  </div>